
```{=html}

<% for (const item of items) { %>

<div class="list" style="column-gap: 10px;">
  <div>
    <div>
      <small class="card-text inline-block">
        <a href="<%- item.url %>" class="listing-title"><%= item.title %></a><br/>
        <i><%= item.authors %></i><br/>
        <i><%= item.year %></i> | <i><%= item.journal %></i>
      </small>
    </div>
  </div>
</div>
<% } %>

```